@GT_Client.Reazer.Head.m()

@{
    ViewBag.Title = Genesis.Common.PageBaseInfo.getCurrentResource("批號預約扣留").RESOURCE_NAME;
    ViewBag.FunctionName = @Face.FunMapWOMap;
}
@Html.AntiForgeryToken()
@eBundle.QRender_CSS()
@eBundle.QRender_JS()

<div id="app">
    s
</div>

<script>
    $(() => {
        @GT_Client.Reazer.result.m()
        new Vue({
            el: '#app',
            data() {
                return {
                    @GT_Client.v_selectize.basic_vData.p(Html)

                    @GT_Client.elUI.Table.html_LOT_vData.p(Html)
                }
            },
            methods: {

            },

        })
    });
</script>

