@{
	ViewBag.Title = @Genesis.Common.PageBaseInfo.getCurrentResource("Case1").RESOURCE_NAME;
}
<h3>
	@ViewBag.Title
</h3>

<div id="app">
	<h3>MVVM 與 v-model 基本概念</h3>
	<div>
		[range]{{range}}
		<input type="range" v-model="range" max="100" min="1" />
	</div>

	<h3>事件綁定</h3>
	<div>
		counts:{{counts}}
	</div>
	<button @@click="Exec">vue add</button>
</div>
<div>
	<h3>與 jquery 的差別</h3>
	<div class="counts"></div>
	<button class="add">jq add</button>
</div>

@section Styles {
	@Styles.Render(eBundle.elUI_CSS)

}

@section Scripts {
	@Scripts.Render(eBundle.Vue_MES)
	@Scripts.Render(eBundle.elUI_JS)
}

<script>
	//https://cn.vuejs.org/v2/guide/
	$(() => {
		var _count = 0;
		$('.add').click(() => {
			
			_count++;
			$('.counts').html(`counts:${_count}`);
		})

		new Vue({
			el: '#app',
			data() {
				return {
					counts: 0,
					range: 10,
				}
			},
			methods: {
				Exec() {
					this.counts++;
				}
			}
		})
	});
</script>
