@{
	ViewBag.Title = @Genesis.Common.PageBaseInfo.getCurrentResource("Case3").RESOURCE_NAME;
}
<h3>
	@ViewBag.Title
</h3>

<div id="app">
	@*{{multipleSelection}}*@
	<el-table :data="tableData"
			  style="width: 100%"
			  @*v-on:selection-change="handleSelectionChange"*@>
		@*<el-table-column type="selection"
							 width="55">
			</el-table-column>*@
		<el-table-column prop="date"
						 label="日期"
						 width="180">
		</el-table-column>
		<el-table-column prop="name"
						 label="姓名"
						 width="180">
		</el-table-column>
		<el-table-column prop="address"
						 label="地址">
		</el-table-column>
	</el-table>
</div>

@section Styles {
	@Styles.Render(eBundle.elUI_CSS)

}

@section Scripts {
	@Scripts.Render(eBundle.Vue_MES)
	@Scripts.Render(eBundle.elUI_JS)
}

<script>
	//https://element.eleme.cn/
	//https://element.eleme.cn/#/zh-CN/component/table
	$(() => {
		new Vue({
			el: '#app',
			data() {
				return {
					msg: "baseTpl",
					counts: 0,
					multipleSelection: [],
					tableData: [{
						date: '2016-05-02',
						name: '王小虎',
						address: '上海市普陀区金沙江路 1518 弄'
					}, {
						date: '2016-05-04',
						name: '王小虎',
						address: '上海市普陀区金沙江路 1517 弄'
					}, {
						date: '2016-05-01',
						name: '王小虎',
						address: '上海市普陀区金沙江路 1519 弄'
					}, {
						date: '2016-05-03',
						name: '王小虎',
						address: '上海市普陀区金沙江路 1516 弄'
					}]
				}
			},
			methods: {
				handleSelectionChange(val) {
					this.multipleSelection = val;
				}
			}
		})
	});
</script>
