@{
	ViewBag.Title = @Genesis.Common.PageBaseInfo.getCurrentResource("gt-versonbar").RESOURCE_NAME;
	bool isSingleModel = (bool)ViewData["SingleModel"];

	if (isSingleModel) Layout = "~/Views/Shared/_LayoutSingle.cshtml";
}
@eBundle.QRender_CSS()
@eBundle.QRender_JS()
@Html.AntiForgeryToken()
<h3>
	@ViewBag.Title
	@*<small><a href="https://genesisoffice365.sharepoint.com/:o:/r/sites/GTiMES50/_layouts/15/WopiFrame.aspx?sourcedoc={7175ca3d-ef9b-447d-a677-837671fc502f}&action=edit&wd=target%28UI%2Eone%7C0DA210C6%2DA155%2D4147%2DABA6%2DF995FD827BC6%2Fgt%2Dtoolbar%7CE1159DE3%2D014D%2D41F0%2D9A07%2DE3809845F054%2F%29onenote%3Ahttps%3A%2F%2Fgenesisoffice365%2Esharepoint%2Ecom%2Fsites%2FGTiMES50%2FSiteAssets%2FGTiMES%205%2E0%20%E9%96%8B%E7%99%BC%20%E7%AD%86%E8%A8%98%E6%9C%AC%2FUI%2Eone#gt-toolbar&section-id={0DA210C6-A155-4147-ABA6-F995FD827BC6}&page-id={E1159DE3-014D-41F0-9A07-E3809845F054}&end" target="_blank">參考文件</a></small>*@
</h3>
<div id="app" v-cloak>
    <gt-hr content="gt-versionbar1 基本用法" :active="active">
        <el-tabs type="border-card" v-model="tabs">
            <el-tab-pane label="基本使用情境" name="A">
                <div><el-tag size="mini">c_cur_ver</el-tag>{{c_cur_ver}}</div>

                <gt-versionbar1 ref="ver_bar"
                                v-model="c_cur_ver"
                                :ddl_verson_opts="ddl_verson"
                                :confirm="ConfirmMode"
                                :confirm_ver="c_confirm_ver"
                                :e_enable="e_enable"
                                :e_default="e_default"
                                :e_add="e_add"
                                :e_copy_version="e_copy_version"
                                :e_delete_version="e_delete_version"
                                :e_renew="renew">
                </gt-versionbar1>

                <pre>
    [confirm] <input type="checkbox" v-model="ConfirmMode" />
    [說明]控制事件執行,是否出現提問,確認後才執行

    [confirm_ver]<input type="checkbox" v-model="ConfirmVerMode" />
    [註]confirm_ver 不是一個常規的應用,但就是有實務上的需求場景,此外,考量到 需求上會是提供訊息提示的支援,
            所以索性就把這兩個做成同一個,只要傳入訊息提示的字段,就會開啟 版本切換提示的功能

    模擬 Post 失敗<input type="checkbox" v-model="isPostfail" />
    [註]啟用後,會模擬當 enable 失敗後,控件的反應行為
                
    <el-button type="primary" size="mini" @@click="Set_Initial">設為 Initial </el-button>
    [註]會將當前版本設為 Initial , 以測試控件的反應行為 
        1.enable 反灰
        2.預設版本反灰
        3.可刪除版本啟用
    </pre>

                <br />
            </el-tab-pane>
            <el-tab-pane label="模擬靠右模式 和 自定 sid , enable_flag 欄位" name="B">
                <gt-versionbar1 style="max-width: 660px !important;" class="pull-right"
                                v-model="c_cur_ver1"
                                sid="Display"
                                enable_flag="ENABLE_FLAG_T"
                                :ddl_verson_opts="ddl_verson"
                                :selectize_ops="selectize_ops"
                                :e_enable="e_enable1"
                                :e_default="e_default"
                                :e_add="e_add"
                                :e_copy_version="e_copy_version"
                                :e_delete_version="e_delete_version">
                </gt-versionbar1>
                <div class="clearfix hidden-xs"></div>
                <pre>
    [說明]
    ENABLE_FLAG 正常是 T/F  ,但 有些情境下,會有 Initial/Enable/Disable 的情境 ,
    為了便於統一處理邏輯, 如果碰到 T/F 型態 的資料 , 會用 虛擬欄位 -- ENABLE_FLAG_T ,
    將之轉換為 I/E/D 的 資料型態
                </pre>
            </el-tab-pane>
            <el-tab-pane label="擴充欄位" name="C">
                <el-row>
                    <el-col :span="12">
                        <gt-versionbar1 v-model="c_cur_ver1"
                                        sid="Display"
                                        enable_flag="ENABLE_FLAG_T"
                                        :confirm="ConfirmMode"
                                        :ddl_verson_opts="ddl_verson"
                                        :selectize_ops="selectize_ops"
                                        :e_enable="e_enable1"
                                        :e_default="e_default" :e_add="e_add"
                                        :e_copy_version="e_copy_version"
                                        :e_delete_version="e_delete_version">

                            <el-tooltip class="item" effect="dark" content="更新" placement="bottom">
                                <el-button type="primary" size="mini" icon="el-icon-loading" circle @@click="renew"> </el-button>
                            </el-tooltip>
                        </gt-versionbar1>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane label="測試編輯情境 和 取消功能" name="D">
                <gt-versionbar1 v-model="ver_form.val"
                                sid="Display"
                                enable_flag="ENABLE_FLAG"
                                :is_edit.sync="c_isEdit"
                                :ddl_verson_opts="ver_form.src"
                                :selectize_ops="ver_form.ops"
                                :confirm="ConfirmMode"
                                
                                :e_enable="e_enable1"
                                :e_default="e_default" :e_add="e_add"
                                :e_copy_version="e_copy_version"
                                :e_delete_version="e_delete_version"
                                :e_renew="renew"> </gt-versionbar1>
            <div class="clearfix hidden-xs"></div>
            <pre>
                <el-button type="primary" size="mini" @@click="TestCase1">TestCase1</el-button>
    [isChange]<input type="checkbox" v-model="isChange" />  isEditMode<input type="checkbox" v-model="isEditMode" />
    [註]版本的明細項在進行編輯時 ,會有兩種情境
    1.編輯中 , 尚未做確定 (isEditMode:T)
    2.編輯確定 , 但尚未做儲存 (isChange:T)
    在前述的兩個情境下, 如果做 版本切換,都會造成 資料丟失的問題 , 這個問題是因為 vue-selectize 沒辦法很有效的處理好 ,
        數據變換控制的問題.
    為了有效的解決前述的問題,所以規劃了 is_edit 參數,以便卡控好這個問題
    [取消測試]
    是基於在 複製版本 和 新增 的情境下,做 取消的動作, 所以 測試行為如下
    1.按下 複製版本 , 確認 取消按鈕是否-出現 , 而且 版本選項是否-被停用
    2.當按下取消 版本選項是否-自動選擇第一項 , 確認 取消按鈕是否-消失
                </pre>
            </el-tab-pane>
        </el-tabs>
    </gt-hr>
    <br />
    <gt-hr content="gt-versionbar 基本用法" :active="active">
        <pre>
            請改用 gt-versionbar1
        </pre>
        <gt-versionbar :ver_form="ver_form" :ddl_verson_opts="ddl_verson"
                       :e_enable="e_enable_ver_form" :e_add="e_add" :e_default="e_default"
                       :e_copy_version="e_copy_version"></gt-versionbar>
    </gt-hr>
    <div><el-tag size="mini">ver_form</el-tag>{{ver_form}}</div>
    <div><el-tag size="mini">ddl_verson</el-tag> {{ddl_verson}}</div>
</div>
@section Styles {
	@Styles.Render(eBundle.elUI_CSS)
}

@section Scripts {
	@Scripts.Render(eBundle.Vue_MES)
	@Scripts.Render(eBundle.elUI_JS)
}

<script>
    $(() => {

        var ddlVerson = [
            { "SID": "GTI20101518222609299", "Display": 111, "No": "GTI20101518222609299", "Value": "GTI20101518222609299", "DEFAULT_FLAG": "F", "DESCRIPTION": "", "ENABLE_FLAG": "Initial", "ENABLE_FLAG_T": "Initial", "$order": 7 },
            { "SID": "GTI20102013445282667", "Display": 4, "No": "GTI20102013445282667", "Value": "GTI20102013445282667", "DEFAULT_FLAG": "T", "DESCRIPTION": "", "ENABLE_FLAG": "Enable", "ENABLE_FLAG_T": "Enable", "$order": 8 },
            { "SID": "GTI20102312245174048", "Display": 5, "No": "GTI20102312245174048", "Value": "GTI20102312245174048", "DEFAULT_FLAG": "F", "DESCRIPTION": "", "ENABLE_FLAG": "Disable", "ENABLE_FLAG_T": "Disable", "$order": 9 },
            { "SID": "GTI20102413275357470", "Display": 6, "No": "GTI20102413275357470", "Value": "GTI20102413275357470", "DEFAULT_FLAG": "F", "DESCRIPTION": "", "ENABLE_FLAG": "Initial", "ENABLE_FLAG_T": "Enable", "$order": 10 },
            { "SID": "GTI20102419061335152", "Display": 7, "No": "GTI20102419061335152", "Value": "GTI20102419061335152", "DEFAULT_FLAG": "F", "DESCRIPTION": "", "ENABLE_FLAG": "Enable", "ENABLE_FLAG_T": "Disable", "$order": 11 },
            { "SID": "GTI20102813410640463", "Display": 8, "No": "GTI20102813410640463", "Value": "GTI20102813410640463", "DEFAULT_FLAG": "F", "DESCRIPTION": "", "ENABLE_FLAG": "Disable", "ENABLE_FLAG_T": "Enable", "$order": 12 }];

        new Vue({
            el: '#app',
            data() {
                var _self = this;
                return {
                    isChange: false,
                    isPostfail: false,
                    isEditMode: true,
                    isChgSID: true,
                    ConfirmMode: false,
                    ConfirmVerMode: false,
                    tabs: 'D',
                    selectize_ops: {
                        valueField: "Display"
                    },
                    cur_ver: {
                        SID: "GTI20101518222609299",
                        Display: 111,
                    },
                    ver_form: {
                        ddlval: 'GTI20101518222609299',
                        enabled: true,
                    },
                    ddl_verson: ddlVerson,

                    ver_form: {
                        val: ddlVerson[0],
                        src: ddlVerson,
                        ops: {
                            valueField: 'Display',
                            onChange: _self.onChange_Ver,
                        }
                    },
                }
            },
            computed: {
                c_isEdit: {
                    get() {
                        return this.isChange || this.isEditMode;
                        //return this.isChange || this.currentRow != null;
                    },
                    set(val) {
                        this.$message(`接收到 is_edit${val}`);
                        if (val==false) {
                            this.isChange = false;
                            this.isEditMode = false;
                            //this.currentRow = null;
                        }
                    }
                },
                c_confirm_ver() {
                    return this.ConfirmVerMode ? "測試:請確認是否變更版本" : "";
                },
                c_cur_ver: {
                    get() {
                        return this.cur_ver;

                    },
                    set(val) {
                        this.cur_ver = val;
                    }
                },
                c_cur_ver1: {
                    get() {
                        return this.cur_ver;
                    },
                    set(val) {
                        this.cur_ver = val;
                    }
                }
            },
            watch: {
                /**
                雖然 很不願意使用 watch 機制來處理 , 但 因為 vus-selectize 在 onChange 的處理控制上 ,
                    相對需要克服的問題更多--主要是在 取消切換,數值要回復的控制上。
                所以權衡下 , 還是決定用 watch 做為最終的方案

                 */
                'cur_ver.Display'(val) {
                    this.$message('版本切換事件-觸發後端查詢');
                },
                'ver_form.val.Display'(val) {
                    this.$message('版本切換事件-觸發後端查詢');
                },
            },
            methods: {
                onChange_Ver(SOP_VER_SID) {
                    var _self = this;
                    this.$message('執行版本切換');

                },
                TestCase1() {
                    debugger;
                    this.c_cur_ver.SID = "GTI20102013445282667";
                },
                e_enable_ver_form() {
                    this.ver_form.enabled = this.ver_form.enabled == "Enable" ? "Disable" : "Enable";
                },
                e_enable(fn_revert) {
                    let _self = this;
                    let { SID } = this.cur_ver;

                    var _var = _.find(ddlVerson, { SID });
                    if (this.isPostfail) {
                        window.setTimeout((() => {
                            fn_revert();
                            _self.$message('模擬執行失敗,自重回復原設定');
                        }), 1500);
                    }
                    this.ddl_verson = ddlVerson;
                },
                Set_Initial() {
                    this.cur_ver.ENABLE_FLAG = "Initial";
                    //let { ENABLE_FLAG_T } = this.cur_ver;
                    //if (ENABLE_FLAG_T != null) this.cur_ver.ENABLE_FLAG_T = "";
                },
                e_enable1(fn_revert) {
                    if (!this.isPostfail) return;
                    var title = `確定要變更嗎？`;
                    var _ops = this.$Alert.genConfirm({ title });
                    Swal.fire(_ops).then(result => {
                        let { dismiss } = result;
                        if (dismiss == "cancel") {
                            fn_revert();
                        }
                        else if (result.value) {

                        }
                    });
                },
                e_add() {

                },
                e_default(fn_revert) {
                    var _self = this;
                    if (this.isPostfail) {

                        window.setTimeout((() => {
                            fn_revert();
                            _self.$message('模擬執行失敗,自重回復原設定');
                        }), 1500);
                    }
                    this.ddl_verson = ddlVerson;
                },


                async e_copy_version() {
                    //this.$message('e_copy_version');
                    let title = '@Message.ConfirmCopyVersion';
                    title = title.replace('{0}', this.ver_form.val.Display);
                    let _ops = this.$Alert.genConfirm({ title });
                    let confirm = await Swal.fire(_ops);
                    if (confirm.value) {
                        this.ver_form.val = {
                            VERSION_STATE: 'Initial',
                        };
                        this.isChange = true;
                    }
                },
                async e_delete_version() {
                    this.$message('e_delete_version');
                },
                renew() {
                    this.$message('資料更新');
                },
            }
        })
    });
</script>
