@{
	ViewBag.Title = @Genesis.Common.PageBaseInfo.getCurrentResource("UI 規範041").RESOURCE_NAME;
	bool isSingleModel = (bool)ViewData["SingleModel"];
	if (isSingleModel) Layout = "~/Views/Shared/_LayoutSingle.cshtml";

}
@eBundle.QRender_CSS()
@eBundle.QRender_JS()
@Html.Partial("~/Areas/MES/Views/Shared/_wo_condition.cshtml")
<h3>
	@ViewBag.Title
	<small><a href="https://genesisoffice365.sharepoint.com/:o:/r/sites/GTiMES50/_layouts/15/WopiFrame.aspx?sourcedoc={7175ca3d-ef9b-447d-a677-837671fc502f}&action=edit&wd=target%28UI%2Eone%7C0DA210C6%2DA155%2D4147%2DABA6%2DF995FD827BC6%2F%E8%A1%A8%E6%A0%BC%2D%E8%A4%87%E5%90%88%E6%A2%9D%E4%BB%B6%E6%9F%A5%E8%A9%A2%2C%E6%8E%92%E5%BA%8F%2C%E6%8F%9B%E9%A0%81%7C52285BEF%2D5F20%2D499D%2D8F2D%2D25FCB63DC876%2F%29onenote%3Ahttps%3A%2F%2Fgenesisoffice365%2Esharepoint%2Ecom%2Fsites%2FGTiMES50%2FSiteAssets%2FGTiMES%205%2E0%20%E9%96%8B%E7%99%BC%20%E7%AD%86%E8%A8%98%E6%9C%AC%2FUI%2Eone#%E8%A1%A8%E6%A0%BC-%E8%A4%87%E5%90%88%E6%A2%9D%E4%BB%B6%E6%9F%A5%E8%A9%A2,%E6%8E%92%E5%BA%8F,%E6%8F%9B%E9%A0%81&section-id={0DA210C6-A155-4147-ABA6-F995FD827BC6}&page-id={52285BEF-5F20-499D-8F2D-25FCB63DC876}&end" target="_blank">參考文件</a></small>
</h3>
<div id="app" v-cloak>
	<gt-toolbar :e_query="click_Query">

	</gt-toolbar>
	{{Code}}
	<div Area-Main class="panel b pt-lg ">
		<gt-searchcd active_names="1">
			<gti-wo-contion ref="wo_cd" v-model="form"></gti-wo-contion>
		</gt-searchcd>
		@Html.Partial("UI_SPEC_041_Grid")
	</div>
</div>

<script>
	$(() => {
		new Vue({
			el: '#app',
			data() {
				return {
					grid: {
                        data: [
                            {
                                "WO_SID": "GTI20123116390095185",
                                "WO": "51A3-201200059",
                                "SO": null,
                                "SO_TYPE": null,
                                "SO_SEQ": null,
                                "PO": null,
                                "PO_TYPE": null,
                                "PO_SEQ": null,
                                "WO_TYPE": "Normal",
                                "WO_TYPE2": null,
                                "WO_TYPE3": null,
                                "STATUS": "Release",
                                "ERP_STATUS": "Create",
                                "QUANTITY": 825132,
                                "ERP_QUANTITY": 825132,
                                "UNIT": "EA",
                                "QTY_1": 0,
                                "UNIT_1": null,
                                "QTY_2": 0,
                                "UNIT_2": null,
                                "UNRELEASE_QUANTITY": 0,
                                "UNRELEASE_QTY_1": 0,
                                "UNRELEASE_QTY_2": 0,
                                "LOT_SIZE": 1,
                                "ROUTE_VER_SID": "GTI20121213562557403",
                                "ROUTE": "SMD_TF系列熱處理_L",
                                "ROUTE_VERSION": 2,
                                "PRODUCT_SID": "GTI13041716461881915",
                                "PRODUCT": "系統預設產品資料",
                                "PARTNO_VER_SID": "B9A57F4A-4D4C-4204-8F75-23EA544210A1",
                                "PARTNO": "11130062A                               ",
                                "PARTNO_VERSION": 1,
                                "PRIORITY": "3",
                                "OWNER": null,
                                "CUSTOMER": null,
                                "BONDED_FLAG": "F",
                                "BONDED_NO": null,
                                "SCHEDULEDATE": "2020-12-14 00:00:00",
                                "DUEDATE": "2022-05-31 00:00:00",
                                "ERP_CREATE_DATE": null,
                                "ERP_FINISH_DATE": null,
                                "FINISH_DATE": null,
                                "CREATEDATE": null,
                                "MIN_START_DATE": null,
                                "PRE_START_DATE": null,
                                "ROOT_WO_SID": null,
                                "PARENT_WO_SID": null,
                                "PARENT_WO_TYPE": null,
                                "FACTORY": null,
                                "MODIFY_FLAG": null,
                                "BOM_SID": null,
                                "BOM_VERSION": null,
                                "BOM_CREATE_DATE": null,
                                "CONFIRM_FLAG": null,
                                "SCHEDULE_QTY": null,
                                "ERP_RECEIVE_QTY": null,
                                "ERP_WIP_QTY": null,
                                "AREA_SID": null,
                                "AREA_NO": null,
                                "INVENTORY_TYPE": null,
                                "LINE_NAME": null,
                                "CONFIRM_DATE": null,
                                "CONFIRM_USER": null,
                                "PACKAGE_UNIT_QTY": null,
                                "PACKAGE_UNIT": null,
                                "SIGN_STATUS": null,
                                "CUST_PART_NO": null,
                                "CUST_PART_NO_SID": null,
                                "CUST_PART_NO_VER_SID": null,
                                "GROSS_DIE_QTY": null,
                                "PM_USER": null,
                                "SHIPPING_ADDRESS": null,
                                "SHIPPING_ADDRESS1": null,
                                "URGENT_FLAG": null,
                                "WAFER_THICKNESS": null,
                                "WAFER_SIZE": null,
                                "RECEIVE_NO": null,
                                "RECEIVE_NO_TYPE": null,
                                "ERP_COMMENT": null,
                                "MES_COMMENT": null,
                                "ERP_COMMENT1": null,
                                "ERP_COMMENT2": null,
                                "ERP_COMMENT3": null,
                                "ERP_COMMENT4": null,
                                "ATTRIBUTE_01": "SMD-L",
                                "ATTRIBUTE_02": null,
                                "ATTRIBUTE_03": "WCE316X50",
                                "ATTRIBUTE_04": "STFGT",
                                "ATTRIBUTE_05": null,
                                "ATTRIBUTE_06": "51A3",
                                "ATTRIBUTE_07": null,
                                "ATTRIBUTE_08": null,
                                "ATTRIBUTE_09": null,
                                "ATTRIBUTE_10": null,
                                "ATTRIBUTE_11": 2,
                                "ATTRIBUTE_12": 328548,
                                "ATTRIBUTE_13": 783875,
                                "ATTRIBUTE_14": "2021-01-18 00:00:00",
                                "ATTRIBUTE_15": null,
                                "ATTRIBUTE_16": null,
                                "CREATE_USER": "EIS",
                                "CREATE_DATE": "2020-12-31 16:39:00",
                                "UPDATE_USER": "系統管理員",
                                "UPDATE_DATE": "2022-09-07 17:24:11",
                                "RELEASE_QUANTITY": 825132,
                                "RELEASE_QTY_1": 0,
                                "RELEASE_QTY_2": 0,
                                "YIELD": null,
                                "SCARP_QUANTITY": null,
                                "SCARP_QTY1": null,
                                "SCARP_QTY2": null,
                                "TERMINATED_QUANTITY": null,
                                "TERMINATED_QTY1": null,
                                "TERMINATED_QTY2": null,
                                "ECN": null,
                                "STOCK_QTY": null,
                                "RELEASE_DATE": null,
                                "ECN_SID": null,
                                "ECN_NO": null,
                                "ECN_NAME": null,
                                "WO_LINE_SID": "GTI20112321220203204",
                                "WO_LINE_NO": "SMD-ALL",
                                "WO_LINE": "SMD-ALL",
                                "PART_NAME": "包裝,SMD1812P075TF/33"
                            },
                            {
                                "WO_SID": "GTI20123116390095197",
                                "WO": "51B-201100451",
                                "SO": null,
                                "SO_TYPE": null,
                                "SO_SEQ": null,
                                "PO": null,
                                "PO_TYPE": null,
                                "PO_SEQ": null,
                                "WO_TYPE": "Normal",
                                "WO_TYPE2": null,
                                "WO_TYPE3": null,
                                "STATUS": "Terminated",
                                "ERP_STATUS": "Create",
                                "QUANTITY": 239514,
                                "ERP_QUANTITY": 239514,
                                "UNIT": "EA",
                                "QTY_1": null,
                                "UNIT_1": null,
                                "QTY_2": null,
                                "UNIT_2": null,
                                "UNRELEASE_QUANTITY": 0,
                                "UNRELEASE_QTY_1": null,
                                "UNRELEASE_QTY_2": null,
                                "LOT_SIZE": 239514,
                                "ROUTE_VER_SID": "GTI20121214343067061",
                                "ROUTE": "SMD_TF系列熱處理",
                                "ROUTE_VERSION": null,
                                "PRODUCT_SID": "GTI20102316200075721",
                                "PRODUCT": "SMD",
                                "PARTNO_VER_SID": "GTI20102316252396864",
                                "PARTNO": "P11161040",
                                "PARTNO_VERSION": 1,
                                "PRIORITY": "3",
                                "OWNER": null,
                                "CUSTOMER": null,
                                "BONDED_FLAG": "F",
                                "BONDED_NO": null,
                                "SCHEDULEDATE": "2020-11-21 00:00:00",
                                "DUEDATE": null,
                                "ERP_CREATE_DATE": null,
                                "ERP_FINISH_DATE": null,
                                "FINISH_DATE": null,
                                "CREATEDATE": null,
                                "MIN_START_DATE": null,
                                "PRE_START_DATE": "2020-11-21 00:00:00",
                                "ROOT_WO_SID": null,
                                "PARENT_WO_SID": null,
                                "PARENT_WO_TYPE": null,
                                "FACTORY": null,
                                "MODIFY_FLAG": "N",
                                "BOM_SID": null,
                                "BOM_VERSION": 0,
                                "BOM_CREATE_DATE": null,
                                "CONFIRM_FLAG": "N",
                                "SCHEDULE_QTY": null,
                                "ERP_RECEIVE_QTY": 0,
                                "ERP_WIP_QTY": 0,
                                "AREA_SID": null,
                                "AREA_NO": null,
                                "INVENTORY_TYPE": null,
                                "LINE_NAME": null,
                                "CONFIRM_DATE": null,
                                "CONFIRM_USER": null,
                                "PACKAGE_UNIT_QTY": 0,
                                "PACKAGE_UNIT": null,
                                "SIGN_STATUS": null,
                                "CUST_PART_NO": null,
                                "CUST_PART_NO_SID": null,
                                "CUST_PART_NO_VER_SID": null,
                                "GROSS_DIE_QTY": 0,
                                "PM_USER": null,
                                "SHIPPING_ADDRESS": null,
                                "SHIPPING_ADDRESS1": null,
                                "URGENT_FLAG": "N",
                                "WAFER_THICKNESS": 0,
                                "WAFER_SIZE": 0,
                                "RECEIVE_NO": null,
                                "RECEIVE_NO_TYPE": null,
                                "ERP_COMMENT": "SSFRLK1",
                                "MES_COMMENT": null,
                                "ERP_COMMENT1": null,
                                "ERP_COMMENT2": null,
                                "ERP_COMMENT3": null,
                                "ERP_COMMENT4": null,
                                "ATTRIBUTE_01": "SMD",
                                "ATTRIBUTE_02": null,
                                "ATTRIBUTE_03": null,
                                "ATTRIBUTE_04": "SSFRLK",
                                "ATTRIBUTE_05": null,
                                "ATTRIBUTE_06": "51B",
                                "ATTRIBUTE_07": null,
                                "ATTRIBUTE_08": null,
                                "ATTRIBUTE_09": null,
                                "ATTRIBUTE_10": null,
                                "ATTRIBUTE_11": 1,
                                "ATTRIBUTE_12": 239514,
                                "ATTRIBUTE_13": 227538,
                                "ATTRIBUTE_14": "2021-01-14 00:00:00",
                                "ATTRIBUTE_15": null,
                                "ATTRIBUTE_16": null,
                                "CREATE_USER": "EIS",
                                "CREATE_DATE": "2020-12-31 16:39:00",
                                "UPDATE_USER": "Admin",
                                "UPDATE_DATE": "2021-10-01 11:50:56",
                                "RELEASE_QUANTITY": 241014,
                                "RELEASE_QTY_1": 0,
                                "RELEASE_QTY_2": 0,
                                "YIELD": null,
                                "SCARP_QUANTITY": 0,
                                "SCARP_QTY1": 0,
                                "SCARP_QTY2": 0,
                                "TERMINATED_QUANTITY": 0,
                                "TERMINATED_QTY1": 0,
                                "TERMINATED_QTY2": 0,
                                "ECN": null,
                                "STOCK_QTY": 0,
                                "RELEASE_DATE": null,
                                "ECN_SID": null,
                                "ECN_NO": null,
                                "ECN_NAME": null,
                                "WO_LINE_SID": "GTI20112321220203204",
                                "WO_LINE_NO": "SMD-ALL",
                                "WO_LINE": "SMD-ALL",
                                "PART_NAME": "包裝,SMD1812P035TF/30"
                            },
                            {
                                "WO_SID": "GTI20123116390095202",
                                "WO": "51B-201200026",
                                "SO": null,
                                "SO_TYPE": null,
                                "SO_SEQ": null,
                                "PO": null,
                                "PO_TYPE": null,
                                "PO_SEQ": null,
                                "WO_TYPE": "Normal",
                                "WO_TYPE2": null,
                                "WO_TYPE3": null,
                                "STATUS": "Release",
                                "ERP_STATUS": "Create",
                                "QUANTITY": 154242,
                                "ERP_QUANTITY": 154242,
                                "UNIT": "EA",
                                "QTY_1": null,
                                "UNIT_1": null,
                                "QTY_2": null,
                                "UNIT_2": null,
                                "UNRELEASE_QUANTITY": 0,
                                "UNRELEASE_QTY_1": null,
                                "UNRELEASE_QTY_2": null,
                                "LOT_SIZE": 154242,
                                "ROUTE_VER_SID": "GTI20121214354568371",
                                "ROUTE": "SMD_TF系列冷熱衝擊",
                                "ROUTE_VERSION": null,
                                "PRODUCT_SID": "GTI20102316200075721",
                                "PRODUCT": "SMD",
                                "PARTNO_VER_SID": "GTI20102316252296822",
                                "PARTNO": "P11160113",
                                "PARTNO_VERSION": 1,
                                "PRIORITY": "3",
                                "OWNER": null,
                                "CUSTOMER": null,
                                "BONDED_FLAG": "F",
                                "BONDED_NO": null,
                                "SCHEDULEDATE": "2021-01-01 00:00:00",
                                "DUEDATE": null,
                                "ERP_CREATE_DATE": null,
                                "ERP_FINISH_DATE": null,
                                "FINISH_DATE": null,
                                "CREATEDATE": null,
                                "MIN_START_DATE": null,
                                "PRE_START_DATE": "2020-12-01 00:00:00",
                                "ROOT_WO_SID": null,
                                "PARENT_WO_SID": null,
                                "PARENT_WO_TYPE": null,
                                "FACTORY": null,
                                "MODIFY_FLAG": "N",
                                "BOM_SID": null,
                                "BOM_VERSION": 0,
                                "BOM_CREATE_DATE": null,
                                "CONFIRM_FLAG": "N",
                                "SCHEDULE_QTY": null,
                                "ERP_RECEIVE_QTY": 0,
                                "ERP_WIP_QTY": 0,
                                "AREA_SID": null,
                                "AREA_NO": null,
                                "INVENTORY_TYPE": null,
                                "LINE_NAME": null,
                                "CONFIRM_DATE": null,
                                "CONFIRM_USER": null,
                                "PACKAGE_UNIT_QTY": 0,
                                "PACKAGE_UNIT": null,
                                "SIGN_STATUS": null,
                                "CUST_PART_NO": null,
                                "CUST_PART_NO_SID": null,
                                "CUST_PART_NO_VER_SID": null,
                                "GROSS_DIE_QTY": 0,
                                "PM_USER": null,
                                "SHIPPING_ADDRESS": null,
                                "SHIPPING_ADDRESS1": null,
                                "URGENT_FLAG": "N",
                                "WAFER_THICKNESS": 0,
                                "WAFER_SIZE": 0,
                                "RECEIVE_NO": null,
                                "RECEIVE_NO_TYPE": null,
                                "ERP_COMMENT": "SSF9JK1",
                                "MES_COMMENT": null,
                                "ERP_COMMENT1": null,
                                "ERP_COMMENT2": null,
                                "ERP_COMMENT3": null,
                                "ERP_COMMENT4": null,
                                "ATTRIBUTE_01": "SMD",
                                "ATTRIBUTE_02": null,
                                "ATTRIBUTE_03": null,
                                "ATTRIBUTE_04": "SSF9JK",
                                "ATTRIBUTE_05": null,
                                "ATTRIBUTE_06": "51B",
                                "ATTRIBUTE_07": null,
                                "ATTRIBUTE_08": null,
                                "ATTRIBUTE_09": null,
                                "ATTRIBUTE_10": null,
                                "ATTRIBUTE_11": 1,
                                "ATTRIBUTE_12": 154242,
                                "ATTRIBUTE_13": 146530,
                                "ATTRIBUTE_14": "2021-01-15 00:00:00",
                                "ATTRIBUTE_15": null,
                                "ATTRIBUTE_16": null,
                                "CREATE_USER": "EIS",
                                "CREATE_DATE": "2020-12-31 16:39:00",
                                "UPDATE_USER": "EIS",
                                "UPDATE_DATE": "2020-12-31 16:39:00",
                                "RELEASE_QUANTITY": 154242,
                                "RELEASE_QTY_1": 0,
                                "RELEASE_QTY_2": 0,
                                "YIELD": null,
                                "SCARP_QUANTITY": 0,
                                "SCARP_QTY1": 0,
                                "SCARP_QTY2": 0,
                                "TERMINATED_QUANTITY": 0,
                                "TERMINATED_QTY1": 0,
                                "TERMINATED_QTY2": 0,
                                "ECN": null,
                                "STOCK_QTY": 0,
                                "RELEASE_DATE": null,
                                "ECN_SID": null,
                                "ECN_NO": null,
                                "ECN_NAME": null,
                                "WO_LINE_SID": "GTI20112321220203204",
                                "WO_LINE_NO": "SMD-ALL",
                                "WO_LINE": "SMD-ALL",
                                "PART_NAME": "包裝,SMD1812P200TF"
                            },
                            {
                                "WO_SID": "GTI20123116390095207",
                                "WO": "51B-201200493",
                                "SO": null,
                                "SO_TYPE": null,
                                "SO_SEQ": null,
                                "PO": null,
                                "PO_TYPE": null,
                                "PO_SEQ": null,
                                "WO_TYPE": "Normal",
                                "WO_TYPE2": null,
                                "WO_TYPE3": null,
                                "STATUS": "Release",
                                "ERP_STATUS": "Create",
                                "QUANTITY": 147972,
                                "ERP_QUANTITY": 147972,
                                "UNIT": "EA",
                                "QTY_1": null,
                                "UNIT_1": null,
                                "QTY_2": null,
                                "UNIT_2": null,
                                "UNRELEASE_QUANTITY": 0,
                                "UNRELEASE_QTY_1": null,
                                "UNRELEASE_QTY_2": null,
                                "LOT_SIZE": 147972,
                                "ROUTE_VER_SID": "GTI20121214354568371",
                                "ROUTE": "SMD_TF系列冷熱衝擊",
                                "ROUTE_VERSION": null,
                                "PRODUCT_SID": "GTI20102316200075721",
                                "PRODUCT": "SMD",
                                "PARTNO_VER_SID": "GTI20102316252396882",
                                "PARTNO": "P11161060",
                                "PARTNO_VERSION": 1,
                                "PRIORITY": "3",
                                "OWNER": null,
                                "CUSTOMER": null,
                                "BONDED_FLAG": "F",
                                "BONDED_NO": null,
                                "SCHEDULEDATE": "2020-12-21 00:00:00",
                                "DUEDATE": null,
                                "ERP_CREATE_DATE": null,
                                "ERP_FINISH_DATE": null,
                                "FINISH_DATE": null,
                                "CREATEDATE": null,
                                "MIN_START_DATE": null,
                                "PRE_START_DATE": "2020-12-21 00:00:00",
                                "ROOT_WO_SID": null,
                                "PARENT_WO_SID": null,
                                "PARENT_WO_TYPE": null,
                                "FACTORY": null,
                                "MODIFY_FLAG": "N",
                                "BOM_SID": null,
                                "BOM_VERSION": 0,
                                "BOM_CREATE_DATE": null,
                                "CONFIRM_FLAG": "N",
                                "SCHEDULE_QTY": null,
                                "ERP_RECEIVE_QTY": 0,
                                "ERP_WIP_QTY": 0,
                                "AREA_SID": null,
                                "AREA_NO": null,
                                "INVENTORY_TYPE": null,
                                "LINE_NAME": null,
                                "CONFIRM_DATE": null,
                                "CONFIRM_USER": null,
                                "PACKAGE_UNIT_QTY": 0,
                                "PACKAGE_UNIT": null,
                                "SIGN_STATUS": null,
                                "CUST_PART_NO": null,
                                "CUST_PART_NO_SID": null,
                                "CUST_PART_NO_VER_SID": null,
                                "GROSS_DIE_QTY": 0,
                                "PM_USER": null,
                                "SHIPPING_ADDRESS": null,
                                "SHIPPING_ADDRESS1": null,
                                "URGENT_FLAG": "N",
                                "WAFER_THICKNESS": 0,
                                "WAFER_SIZE": 0,
                                "RECEIVE_NO": null,
                                "RECEIVE_NO_TYPE": null,
                                "ERP_COMMENT": "SGF2JK1",
                                "MES_COMMENT": null,
                                "ERP_COMMENT1": null,
                                "ERP_COMMENT2": null,
                                "ERP_COMMENT3": null,
                                "ERP_COMMENT4": null,
                                "ATTRIBUTE_01": "SMD",
                                "ATTRIBUTE_02": null,
                                "ATTRIBUTE_03": "WCE205X50",
                                "ATTRIBUTE_04": "SGF2JK",
                                "ATTRIBUTE_05": null,
                                "ATTRIBUTE_06": "51B",
                                "ATTRIBUTE_07": null,
                                "ATTRIBUTE_08": null,
                                "ATTRIBUTE_09": null,
                                "ATTRIBUTE_10": null,
                                "ATTRIBUTE_11": 1,
                                "ATTRIBUTE_12": 147972,
                                "ATTRIBUTE_13": 140573,
                                "ATTRIBUTE_14": "2021-01-19 00:00:00",
                                "ATTRIBUTE_15": null,
                                "ATTRIBUTE_16": null,
                                "CREATE_USER": "EIS",
                                "CREATE_DATE": "2020-12-31 16:39:00",
                                "UPDATE_USER": "EIS",
                                "UPDATE_DATE": "2020-12-31 16:39:00",
                                "RELEASE_QUANTITY": 147972,
                                "RELEASE_QTY_1": 0,
                                "RELEASE_QTY_2": 0,
                                "YIELD": null,
                                "SCARP_QUANTITY": 0,
                                "SCARP_QTY1": 0,
                                "SCARP_QTY2": 0,
                                "TERMINATED_QUANTITY": 0,
                                "TERMINATED_QTY1": 0,
                                "TERMINATED_QTY2": 0,
                                "ECN": null,
                                "STOCK_QTY": 0,
                                "RELEASE_DATE": null,
                                "ECN_SID": null,
                                "ECN_NO": null,
                                "ECN_NAME": null,
                                "WO_LINE_SID": "GTI20112321220203204",
                                "WO_LINE_NO": "SMD-ALL",
                                "WO_LINE": "SMD-ALL",
                                "PART_NAME": "包裝,SMD1812P075TF"
                            },
                        ],
						pageSize: 10,
						pageIdx: 1,
						row_count: 0,
						Sort: {
							Name: "CREATE_DATE",
							isAsc: true
						},
						Conditions: {},
						Page: {
							Index: 1,
							Size: 10,
						},
						get query_rule() {
							{
								let { Conditions, Sort, Page } = this;
								return {
									Conditions, Sort, Page
								}
							}
						}
					},

					form: {
						WO: '',
						STATUS: '',
						WO_LINE_SID: '',
						PRIORITY: '',
						PARTNO: '',
						ROUTE: '',
					},
					i18n: {
						清除條件: '清除條件',
						品號: '@RES.BLL.Face.PartNo',
						品名: '@RES.BLL.Face.PartName',
					},
					Code: null,
				}
			},
			methods: {
				//#region [Grid 相關程序]
				//排序事件
				sort_change(column) {
					this.grid.Sort = {
						Name: column.prop,
						isAsc: column.order == "ascending"
					}
					if (this.grid.data.length == 0) return;
					this.query(1);
				},
				e_SizeChange: function (size) {
					this.pagesize = size;
					this.query(1);
				},
				// 換頁事件
				e_CurrentChange: function (currentPage) {
					this.query(currentPage);
				},
				// 子視窗查詢程序
				act_WO(WO) {
					//debugger
					var arg = {
						title: '@RES.BLL.Face.WorderInfo',
						content: `@Url.Action("single")?name=UI_SPEC_041_Form`
					}
					this.$UT.layer(arg, this);
				},
				//父視窗reload 功能
				reload() {
					console.log("父視窗reload!!");
					this.query(this.grid.Page.Index);
				},
				//查詢事件
				click_Query() {
					this.grid.Conditions = this.$refs.wo_cd.get_Conditions();
					/*
					//此段程序就是 wo_cd.get_Conditions 內做的事,沒有既有控制件可用的話,就請用以下的 code 改寫
					var Conditions = {
						condition: "AND",
						rules: [
						]
					};
					//equal
					//{ field: 'STATUS', type: "string", operator: "in", value: ["Release", "Create"] }
					_.each(this.form, (value, field) => {
						if (value != "") {
							var _rule = { field, type: "string", operator: "in", value };
							if (_.isString(value)) {
								_rule.operator = "equal";
								_rule.value = [value];
							}
							Conditions.rules.push(_rule);
						}
					});
					this.grid.Conditions = Conditions;
					 */
					this.query(1);
				},
				// 查詢處理程序
				query(pageIdx) {
					var _self = this;
					_self.grid.Page.Index = pageIdx;
					var param = _self.grid.query_rule;

					var _ajax = {
						url: '@Url.Action("WO_Query")',
						type: 'post',
						param,
						success: this.query_success
					};
					$.submitForm(_ajax);
				},
				// 查詢成功處理程序
				query_success(res) {
					debugger
					let { Data, Code = null, Message, Success = false } = res;
					if (Success) {
						let { PageInfo, Queryable } = Data || {};
						this.grid.data = Queryable;
						this.grid.row_count = PageInfo.RowCount;
					} else {
						var msg = Message != null
							? Message
							: '@BLL.InterFace.ErrCode.GenericErrorMessage'
							;
						this.$Alert.Err(msg);
					}
				}
				//#endregion 

			}
		})
	});
</script>
