<div class="btn-group">
	<el-button type="success" size="mini" round icon="fa fa-search">
		@RES.BLL.Face.QUERY
	</el-button>
	<el-button type="primary" size="mini" round icon="fa fa-file-o">
		@RES.BLL.Face.FunctionBarAddButton
	</el-button>
	<el-button type="success" size="mini" round icon="fa fa-save">
		@RES.BLL.Face.FunctionBarSaveButton
	</el-button>
	<el-button type="danger" size="mini" round icon="fa fa-trash">
		@RES.BLL.Face.FunctionBarDeleteButton
	</el-button>
    <el-button type="warning" size="mini" round icon="fa fa-repeat">
        '@Face.Clear'
    </el-button>
</div>
