@{
	bool isSingleModel = (bool)ViewData["SingleModel"];

	if (isSingleModel)
	{
		Layout = "~/Views/Shared/_LayoutSingle.cshtml";
		@eBundle.QRender_CSS();
		@eBundle.QRender_JS();
	}
}
@Html.AntiForgeryToken()
@Html.Partial("~/Areas/MES/Views/Shared/_edc.cshtml")
@Html.Partial("~/Areas/QMS/Views/Shared/_qc_tab.cshtml")

<div id="app" v-clocak>
	<div><br /><el-checkbox v-model="readonly" />readonly</div>
	<gt-qc-tab :form="form"
			   :tableData="tableData"
			   :data_input="data_input"></gt-qc-tab>
</div>

<script>
	$(() => {
		var data_input = [
			{
				"EdcVerSid": "GTI19040815103300013",
				"EdcParameterSid": "GTI19040815002800001",
				"Display": "TestBool",
				"DataType": "B",
				"MustInput": "F",
				"InputCount": 3,
				"ItemName": "TestBool",
				"ItemNo": "Test001",
				"DispayPointName": "A,B,C",
				"DispayPointNameList":
					["Aaaaa", "Bbbbbb", "Ccccc"],
				"QCItemSID": "GTI19040815002800001",
				"UCL": 0,
				"USL": 0,
				"TL": "F",
				"LCL": 0,
				"LSL": 0,
				"require": false,
				"DataTypeDisplay": "布林",
				"InputValueList":
					[{ "inputval": "" }, { "inputval": "" }, { "inputval": "" }]
			}
		]
		new Vue({
			el: '#app',
			data() {
				return {
					readonly: false,
					tab: 'A',
					form: {
						ROUTER: '流程'
					},
					data_input,
					cfg: {
						title: '',
						fixedTip: 1
					},
					tableData: [],
					i18n: {
						基本資訊: '基本資訊',
						流程: '流程',
						流程版本: '流程版本',
						總批數: '總批數',
						總數量: '總數量',
						判定結果: '判定結果',
						合格: '合格',
						不合格: '不合格',
						備註: '備註',
						批號資訊: '批號資訊',
						檢驗項目資訊: '檢驗項目資訊',
						批號: '批號',
						工單編號: '工單編號',
						料號: '料號',
						數量: '數量',
					},
					case_sty: { filed: 'form-control-static col-lg-8 col-sm-9 col-xs-12' }
				}
			}
		})
	});
</script>
