@{
    ViewBag.Title = "收料站";
    //
}
<h3>
    @ViewBag.Title
    <small></small>
</h3>

<form id="app">
    <div class="toolbar">
        <div class="btn-group">
            <el-button type="primary" class="btn"
                       icon="el-icon-caret-right"
                       :disabled="exec_disabled"
                       v-on:click="Exec">
                @RES.BLL.Face.FunctionBarOKButton
            </el-button>
        </div>
    </div>
    <div class="panel b">
        <div class="panel-body row">
            <div class="form-group col-lg-6 has-success  has-feedback">
                <label>盒裝代碼</label>
                <input ref="LOT" class="form-control" type="text" v-model="CurrentLot.LOT"
                       placeholder="@RES.BLL.Message.PleaseInputLot" />
            </div>
            <div class="form-group col-lg-6">
                <label>
                    盒裝資訊
                    <el-button type="success"
                               size="mini"
                               round
                               style="position: relative;top: -3px;margin:0 0 -7px 9px; padding:5px 15px; "
                               @@click="dialogTableVisible=true">
                        檢視位置對照
                    </el-button>
                </label>
                <div class="input-group">
                    <div class="input-group-addon boxinfo-filed-name">類別</div>
                    <input class="form-control" type="text" readonly />
                </div>
                <div class="input-group">
                    <div class="input-group-addon boxinfo-filed-name">盒內物料數</div>
                    <input class="form-control" type="text" readonly />
                </div>

            </div>
        </div>
        <el-tabs type="border-card">
            <el-tab-pane label="項目列表">
                <div class="btn-group">
                    <el-button type="primary" class="btn"
                               icon="el-icon-delete"
                               :disabled="isEmptyRow"
                               v-on:click="ClearList">
                        @RES.BLL.Face.removeAll
                    </el-button>
                </div>
                <el-table :data="List_Lot" class="lot-list"
                          empty-text=" "
                          style="width: 100% ">
                    <el-table-column width="90" fixed>
                        <template slot-scope="scope">
                            <button class="btn btn-default btn-sm"
                                    title="刪除">
                                <i class="fa fa-2x fa-remove fa-fw"></i>
                            </button>
                        </template>
                    </el-table-column>
                    <el-table-column label="盒內位置代碼" width="120" prop="seat_code">

                    </el-table-column>
                    <el-table-column label="缺點碼">
                        <template slot-scope="scope">
                            <el-button type="text"> </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
        </el-tabs>
    </div>
    <el-dialog title="位置對照"
               :append-to-body="true"
               :visible.sync="dialogTableVisible"
               width="100%"
               fullscreen="true"
               class="vue-boxinfoview">
        <div class="panel b">
            <div class="panel-body row">
                <x-boxinfo :Cols=boxinfo.Cols
                           :ColType=boxinfo.ColType
                           :Rows=boxinfo.Rows
                           :RowType=boxinfo.RowType
                           :AxisVisable=boxinfo.AxisVisable
                           :OrderType=boxinfo.orderType
                           :AutoGen=true></x-boxinfo>
            </div>
        </div>
    </el-dialog>
</form>



@section Styles {
    @Styles.Render(eBundle.selectize_CSS)
    @Styles.Render(eBundle.elUI_CSS)
<style>










    .boxinfo-filed-name {
        min-width: 12rem !important;
    }
</style>
}

@section Scripts {
    @Scripts.Render(eBundle.selectize_JS)
    @Scripts.Render(eBundle.Vue_MES)
    @Scripts.Render(eBundle.elUI_JS)
    @Html.Partial("BoxInfo/_boxinfoView")

}

<script>
    $(() => {
        const v = new Vue({
            el: '#app',
            data() {
                return {
                    //
                    CurrentLot: {
                        LOT: '201-20121129-33'
                    },
                    options: [],
                    reason: [],

                    description: "",
                    exec_disabled: true,
                    HoldInfoList: [],
                    isEmptyRow: true,
                    List_Lot: [
                        { seat_code: '0301' },
                        { seat_code: '0302' }
                    ],
                    dialogTableVisible: false,
                    boxinfo: {
                        Cols: 30,
                        ColType: 0,
                        Rows: 30,
                        RowType: 0,
                        orderType: 0,
                        AxisVisable: true,

                        Lists: [],
                        Lists_x: {},
                        axis: {
                            x: [],
                            y: []
                        },
                        charArr: Array.from("ABCDEFGHIJKLMNOPQRESTUVWXYZ"),
                        selected: {}
                    }

                }
            },
            methods: {
                Exec() { },
                ClearList() { }
            },
        })
    })
</script>
