@using System.Dynamic
@model BLL.MES.DataViews.LotData
@{
	bool isSingleModel = (bool)ViewData["SingleModel"];
	dynamic data = new ExpandoObject();
	data.LOT="Test";
	Model.CurrentLot = data;
	if (true)
	{
		Layout = "~/Views/Shared/_LayoutSingle.cshtml";
	}
    GTI_Test GTest = new GTI_Test(Html, ViewContext.HttpContext);
}
@eBundle.QRender_CSS()
@eBundle.QRender_JS()
@Html.Partial("~/Areas/ZZ_LIO/Views/_BB_Tesing.cshtml")
@Html.Partial("~/Areas/MES/Views/WIP/Partial2/_scrap.cshtml")
<pre>
</pre>
<div id="app">
    <form id="WipForm">
        <el-row class="panel b">
            <el-button @@click="測試attr()">
                ATTRIBUTE_02:{{set_model.CurrentOperation.ATTRIBUTE_02}}
            </el-button>
            <el-button @@click="測試API('NG')">測試 NG</el-button>
            <el-button @@click="測試API('Pass')">測試 Pass</el-button>
            <el-button @@click="測試API('')">空值</el-button>
            <el-button @@click="測試API('null')">null</el-button>

            <br />
            <el-row :gutter="12">
                <cp-lio-bb-testing ref="tar" :set_model="set_model">
                </cp-lio-bb-testing>
                <el-col :lg="12">
                    <cp-scrap v-model="set_model.scrapList" :set_model="set_model"></cp-scrap>
                </el-col>
            </el-row>
</form>
</div>
<div id="footerCommand">

    <button type="button" class="btn btn-lg btn-labeled btn-success  btn_submit" style="margin:10px 30px;">
        <span class="btn-label">
            <i class="fa fa-play"></i>
        </span>@RES.BLL.Face.Exec
    </button>
</div>
<script>
    Vue.config.devtools = true;

    $(() => {
        var form = $("#WipForm");
        Vue.use(Vuex);
        var set_model = {
            CurrentLot: {
                QUANTITY: 10,
            },
            scrapList: [],
            //                dataModel.systemConfig = SystemConfig;
            //                //number設置小數點位數
            //                dataModel.systemConfig.setp = "0." + "1".padStart(SystemConfig.DecimalPoint, "0");
            //                if(SystemConfig.DecimalPoint === 0)
            //dataModel.systemConfig.setp = "1";
            systemConfig: {
                setp: 1,
                DecimalPoint: 3
            },
            CurrentOperation: {
                ATTRIBUTE_02: 'T'
            },
            OperScrapList: [
                { "RefKey": null, "SID": "GTI11110115550180956", "No": "other", "Value": null, "Display": "其他", "StatusSid": null, "Status": null, "FromNum": 0, "INum": 0, "Attr01": null, "Attr02": null, "Attr03": null }
                , { "RefKey": null, "SID": "GTI22092622011391630", "No": "R.C01-0002", "Value": null, "Display": "過期", "StatusSid": null, "Status": null, "FromNum": 0, "INum": 0, "Attr01": null, "Attr02": null, "Attr03": null }
                , { "RefKey": null, "SID": "GTI22092622011391632", "No": "R.C01-0004", "Value": null, "Display": "雜質", "StatusSid": null, "Status": null, "FromNum": 0, "INum": 0, "Attr01": null, "Attr02": null, "Attr03": null }
                , { "RefKey": null, "SID": "GTI22092622011391633", "No": "R.C01-0005", "Value": null, "Display": "品質異常", "StatusSid": null, "Status": null, "FromNum": 0, "INum": 0, "Attr01": null, "Attr02": null, "Attr03": null }]
        };
        const store = new Vuex.Store({
            state: {
                set_model,
                globalvar: {
                    scrapTotal: 0,
                }
            },
            getters: {
                getData(state) {
                    return set_model;
                }
            }

        })

        new Vue({
            el: '#app',
            mixins: [Vue.prototype.$UT.Mixins.v_ErrGroup()],
            store,
            provide() {
                return {
                    rootEl: this,
                };
            },
            data() {
                return {
                    value: [{
                        PARTNO: 'PARTNO',
                        PART_NAME: 'PART_NAME',
                        scraps: [
                            { "RefKey": null, "SID": "GTI11110115550180956", "No": "other", "Value": null, "Display": "其他", "StatusSid": null, "Status": null, "FromNum": 0, "INum": 10, "Attr01": null, "Attr02": null, "Attr03": null }
                            , { "RefKey": null, "SID": "GTI22092622011391630", "No": "R.C01-0002", "Value": null, "Display": "過期", "StatusSid": null, "Status": null, "FromNum": 0, "INum": 20, "Attr01": null, "Attr02": null, "Attr03": null }
                        ],
                        單位: 'kg',
                        長度: 100,
                    }],
                    
                    i18n: {
                        料號: 'AAAA'
                    },
                    bb_test: {
                        "SID": "4378FE38-A049-45B4-B6F6-A749D87F259F",
                        "OPERATION": "EOL-L08",
                        "PROJECT": "CM22BTX03",
                        "CREATE_DATE": "2023-08-07T16:10:00",
                        "MODULE_ID": "0x05C0686TEST",
                        "STATE": "NG",
                        "ACTION_LINK_SID": null,
                        "SN": "TWO-230807A-000009"
                    },
                    set_model
                }
            },
            computed: {

            },
            methods: {

                Exec(e) {
                    this.$message('ok');
                    if (this.cfg.single_checkout) {
                        e.preventDefault();
                    } else if (form.parsley().validate()) {

                    }
                },
                測試API(key) {
                    debugger
                    var _tar = this.$refs.tar;
                    switch (key) {
                        case "null":
                            _tar.chk_item = null;
                            break;
                        default:
                            this.bb_test.STATE = key;
                            _tar.chk_item = this.bb_test;
                            break;

                    }
                    _tar.set_Exec();
                },
                測試attr() {
                    debugger
                    let { ATTRIBUTE_02 } = this.set_model.CurrentOperation;
                    this.set_model.CurrentOperation.ATTRIBUTE_02 = ATTRIBUTE_02 == 'T' ? 'F' : 'T';
                },
            }
        })
    });
</script>
